openapi: 3.1.0
info:
  title: Adobe Captivate Prime API (Learning Manager) Account Jobs API
  description: The Adobe Learning Manager (formerly Captivate Prime) API v2 provides programmatic access to the Learning Management System for managing learning objects, courses, users, enrollments, certifications, skills, badges, gamification, catalogs, and user groups. The API follows the JSON:API specification and uses OAuth 2.0 for authentication. It enables integration with third-party systems for automating learner management, content delivery, and reporting.
  version: '2'
  contact:
    name: Adobe Learning Manager Support
    url: https://helpx.adobe.com/learning-manager/kb/helpdesk.html
  termsOfService: https://www.adobe.com/legal/terms.html
  license:
    name: Adobe Terms of Use
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://learningmanager.adobe.com/primeapi/v2
  description: Adobe Learning Manager Production API
security:
- oauth2: []
tags:
- name: Jobs
  description: Manage bulk import/export jobs for data operations
paths:
  /jobs:
    get:
      operationId: getJobs
      summary: Adobe Captivate List Jobs
      description: Retrieves a paginated list of bulk import/export jobs. Jobs support operations such as user import via CSV, learner transcript export, and training report export.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageLimit'
      - name: filter.status
        in: query
        description: Filter by job status
        schema:
          type: string
          enum:
          - Submitted
          - InProgress
          - Completed
          - Failed
      responses:
        '200':
          description: List of jobs
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
              examples:
                getJobs200Example:
                  summary: Default getJobs 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - example
                    links:
                      self: https://example.com/path/abc123
                      next: https://example.com/path/abc123
                      prev: https://example.com/path/abc123
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getJobs401Example:
                  summary: Default getJobs 401 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createJob
      summary: Adobe Captivate Create a Job
      description: Creates a new bulk import or export job. Supports user import via CSV, learner transcript export, and training data export.
      tags:
      - Jobs
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/JobCreateRequest'
            examples:
              createJobRequestExample:
                summary: Default createJob request
                x-microcks-default: true
                value:
                  data:
                    type: standard
                    attributes:
                      jobType: userImport
                      description: Example description
      responses:
        '201':
          description: Job created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JobResponse'
              examples:
                createJob201Example:
                  summary: Default createJob 201 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: standard
                      attributes:
                        dateCreated: '2025-03-15T14:30:00Z'
                        dateCompleted: '2025-03-15T14:30:00Z'
                        description: Example description
                        downloadUrl: https://example.com/path/abc123
                        jobType: userImport
        '400':
          description: Invalid job request
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                createJob400Example:
                  summary: Default createJob 400 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /jobs/{jobId}:
    get:
      operationId: getJob
      summary: Adobe Captivate Get a Job
      description: Retrieves the status and details of a specific job.
      tags:
      - Jobs
      parameters:
      - $ref: '#/components/parameters/jobId'
      responses:
        '200':
          description: Job details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/JobResponse'
              examples:
                getJob200Example:
                  summary: Default getJob 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: standard
                      attributes:
                        dateCreated: '2025-03-15T14:30:00Z'
                        dateCompleted: '2025-03-15T14:30:00Z'
                        description: Example description
                        downloadUrl: https://example.com/path/abc123
                        jobType: userImport
        '404':
          description: Job not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getJob404Example:
                  summary: Default getJob 404 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: Error response following JSON:API error format
      properties:
        source:
          type: object
          properties:
            info:
              type: string
              description: URL to the API documentation
        status:
          type: string
          description: HTTP status code
        title:
          type: string
          description: Short error title
        detail:
          type: string
          description: Human-readable error description
        code:
          type: string
          description: Machine-readable error code
    JobListResponse:
      type: object
      description: Paginated list of jobs
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        links:
          $ref: '#/components/schemas/PaginationLinks'
    JobResponse:
      type: object
      description: Single job response
      properties:
        data:
          $ref: '#/components/schemas/Job'
    PaginationLinks:
      type: object
      description: Pagination links following JSON:API conventions
      properties:
        self:
          type: string
          format: uri
          description: URL for the current page
        next:
          type: string
          format: uri
          description: URL for the next page
        prev:
          type: string
          format: uri
          description: URL for the previous page
    JobCreateRequest:
      type: object
      description: Request body for creating a bulk job
      required:
      - data
      properties:
        data:
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              type: string
              const: job
            attributes:
              type: object
              required:
              - jobType
              properties:
                jobType:
                  type: string
                  description: The type of bulk operation
                  enum:
                  - userImport
                  - learnerTranscriptExport
                  - trainingReportExport
                description:
                  type: string
                  description: Description for this job
    Job:
      type: object
      description: A bulk import/export job
      properties:
        id:
          type: string
          description: Unique job identifier
        type:
          type: string
          const: job
        attributes:
          type: object
          properties:
            dateCreated:
              type: string
              format: date-time
              description: Timestamp when the job was created
            dateCompleted:
              type: string
              format: date-time
              description: Timestamp when the job completed
            description:
              type: string
              description: Job description
            downloadUrl:
              type: string
              format: uri
              description: URL to download the job result file (for export jobs)
            jobType:
              type: string
              description: The type of bulk operation
              enum:
              - userImport
              - learnerTranscriptExport
              - trainingReportExport
            status:
              type: string
              description: Current job status
              enum:
              - Submitted
              - InProgress
              - Completed
              - Failed
  parameters:
    pageLimit:
      name: page[limit]
      in: query
      description: Maximum number of records to return per page (max 10)
      schema:
        type: integer
        default: 10
        maximum: 10
    jobId:
      name: jobId
      in: path
      required: true
      description: The unique identifier of the job
      schema:
        type: string
    pageOffset:
      name: page[offset]
      in: query
      description: The offset for pagination (number of records to skip)
      schema:
        type: integer
        default: 0
        minimum: 0
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Adobe IMS. Supports authorization code flow for user-context access and client credentials flow for application-level access.
      flows:
        authorizationCode:
          authorizationUrl: https://learningmanager.adobe.com/oauth/o/authorize
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          refreshUrl: https://learningmanager.adobe.com/oauth/token/refresh
          scopes:
            learner:read: Read access to learner data
            learner:write: Write access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
        clientCredentials:
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          scopes:
            learner:read: Read access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
externalDocs:
  description: Adobe Learning Manager API v2 Documentation
  url: https://captivateprime.adobe.com/docs/primeapi/v2/
