openapi: 3.1.0
info:
  title: Adobe Captivate Prime API (Learning Manager) Account Badges API
  description: The Adobe Learning Manager (formerly Captivate Prime) API v2 provides programmatic access to the Learning Management System for managing learning objects, courses, users, enrollments, certifications, skills, badges, gamification, catalogs, and user groups. The API follows the JSON:API specification and uses OAuth 2.0 for authentication. It enables integration with third-party systems for automating learner management, content delivery, and reporting.
  version: '2'
  contact:
    name: Adobe Learning Manager Support
    url: https://helpx.adobe.com/learning-manager/kb/helpdesk.html
  termsOfService: https://www.adobe.com/legal/terms.html
  license:
    name: Adobe Terms of Use
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://learningmanager.adobe.com/primeapi/v2
  description: Adobe Learning Manager Production API
security:
- oauth2: []
tags:
- name: Badges
  description: Manage badges awarded to learners for achievements
paths:
  /badges:
    get:
      operationId: getBadges
      summary: Adobe Captivate List Badges
      description: Retrieves a paginated list of badges. Badges are awarded to learners upon achieving specific milestones or completing learning objects.
      tags:
      - Badges
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageLimit'
      responses:
        '200':
          description: List of badges
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BadgeListResponse'
              examples:
                getBadges200Example:
                  summary: Default getBadges 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - example
                    links:
                      self: https://example.com/path/abc123
                      next: https://example.com/path/abc123
                      prev: https://example.com/path/abc123
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getBadges401Example:
                  summary: Default getBadges 401 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /badges/{badgeId}:
    get:
      operationId: getBadge
      summary: Adobe Captivate Get a Badge
      description: Retrieves a single badge by its ID.
      tags:
      - Badges
      parameters:
      - $ref: '#/components/parameters/badgeId'
      responses:
        '200':
          description: Badge details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BadgeResponse'
              examples:
                getBadge200Example:
                  summary: Default getBadge 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: standard
                      attributes:
                        imageUrl: https://example.com/path/abc123
                        name: Example Name
                        state: Active
        '404':
          description: Badge not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getBadge404Example:
                  summary: Default getBadge 404 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{userId}/userBadges:
    get:
      operationId: getUserBadges
      summary: Adobe Captivate List User Badges
      description: Retrieves badges earned by a specific user, including the date earned and associated learning object.
      tags:
      - Badges
      parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageLimit'
      responses:
        '200':
          description: List of user badges
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserBadgeListResponse'
              examples:
                getUserBadges200Example:
                  summary: Default getUserBadges 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      type: standard
                      attributes:
                        assertionUrl: {}
                        dateAchieved: {}
                      relationships:
                        badge: {}
                        learningObject: {}
                    links:
                      self: https://example.com/path/abc123
                      next: https://example.com/path/abc123
                      prev: https://example.com/path/abc123
        '404':
          description: User not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getUserBadges404Example:
                  summary: Default getUserBadges 404 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BadgeResponse:
      type: object
      description: Single badge response
      properties:
        data:
          $ref: '#/components/schemas/Badge'
    UserBadgeListResponse:
      type: object
      description: Paginated list of user badges
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                const: userBadge
              attributes:
                type: object
                properties:
                  assertionUrl:
                    type: string
                    format: uri
                    description: Open Badge assertion URL
                  dateAchieved:
                    type: string
                    format: date-time
                    description: When the badge was earned
              relationships:
                type: object
                properties:
                  badge:
                    $ref: '#/components/schemas/Relationship'
                  learningObject:
                    $ref: '#/components/schemas/Relationship'
        links:
          $ref: '#/components/schemas/PaginationLinks'
    Relationship:
      type: object
      description: A JSON:API relationship object
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/ResourceIdentifier'
          - type: array
            items:
              $ref: '#/components/schemas/ResourceIdentifier'
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
              description: URL to fetch the related resource
    ErrorResponse:
      type: object
      description: Error response following JSON:API error format
      properties:
        source:
          type: object
          properties:
            info:
              type: string
              description: URL to the API documentation
        status:
          type: string
          description: HTTP status code
        title:
          type: string
          description: Short error title
        detail:
          type: string
          description: Human-readable error description
        code:
          type: string
          description: Machine-readable error code
    BadgeListResponse:
      type: object
      description: Paginated list of badges
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Badge'
        links:
          $ref: '#/components/schemas/PaginationLinks'
    ResourceIdentifier:
      type: object
      description: JSON:API resource identifier
      required:
      - id
      - type
      properties:
        id:
          type: string
          description: Resource identifier
        type:
          type: string
          description: Resource type name
    PaginationLinks:
      type: object
      description: Pagination links following JSON:API conventions
      properties:
        self:
          type: string
          format: uri
          description: URL for the current page
        next:
          type: string
          format: uri
          description: URL for the next page
        prev:
          type: string
          format: uri
          description: URL for the previous page
    Badge:
      type: object
      description: A badge awarded to learners for achievements
      properties:
        id:
          type: string
          description: Unique badge identifier
        type:
          type: string
          const: badge
        attributes:
          type: object
          properties:
            imageUrl:
              type: string
              format: uri
              description: URL of the badge image
            name:
              type: string
              description: Badge name
            state:
              type: string
              description: Badge state
              enum:
              - Active
              - Retired
  parameters:
    userId:
      name: userId
      in: path
      required: true
      description: The unique identifier of the user
      schema:
        type: string
    pageLimit:
      name: page[limit]
      in: query
      description: Maximum number of records to return per page (max 10)
      schema:
        type: integer
        default: 10
        maximum: 10
    badgeId:
      name: badgeId
      in: path
      required: true
      description: The unique identifier of the badge
      schema:
        type: string
    pageOffset:
      name: page[offset]
      in: query
      description: The offset for pagination (number of records to skip)
      schema:
        type: integer
        default: 0
        minimum: 0
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Adobe IMS. Supports authorization code flow for user-context access and client credentials flow for application-level access.
      flows:
        authorizationCode:
          authorizationUrl: https://learningmanager.adobe.com/oauth/o/authorize
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          refreshUrl: https://learningmanager.adobe.com/oauth/token/refresh
          scopes:
            learner:read: Read access to learner data
            learner:write: Write access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
        clientCredentials:
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          scopes:
            learner:read: Read access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
externalDocs:
  description: Adobe Learning Manager API v2 Documentation
  url: https://captivateprime.adobe.com/docs/primeapi/v2/
