openapi: 3.1.0
info:
  title: Adobe Captivate Prime API (Learning Manager) Account API
  description: The Adobe Learning Manager (formerly Captivate Prime) API v2 provides programmatic access to the Learning Management System for managing learning objects, courses, users, enrollments, certifications, skills, badges, gamification, catalogs, and user groups. The API follows the JSON:API specification and uses OAuth 2.0 for authentication. It enables integration with third-party systems for automating learner management, content delivery, and reporting.
  version: '2'
  contact:
    name: Adobe Learning Manager Support
    url: https://helpx.adobe.com/learning-manager/kb/helpdesk.html
  termsOfService: https://www.adobe.com/legal/terms.html
  license:
    name: Adobe Terms of Use
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://learningmanager.adobe.com/primeapi/v2
  description: Adobe Learning Manager Production API
security:
- oauth2: []
tags:
- name: Account
  description: Retrieve and manage account-level settings
paths:
  /account:
    get:
      operationId: getAccount
      summary: Adobe Captivate Get Account Details
      description: Retrieves the account configuration and details for the authenticated user's Learning Manager account, including timezone, locale, and enabled features.
      tags:
      - Account
      responses:
        '200':
          description: Account details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
              examples:
                getAccount200Example:
                  summary: Default getAccount 200 response
                  x-microcks-default: true
                  value:
                    data:
                      id: abc123
                      type: standard
                      attributes:
                        dateCreated: '2025-03-15T14:30:00Z'
                        gamificationEnabled: true
                        locale: example
                        name: Example Name
                        subdomain: example
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getAccount401Example:
                  summary: Default getAccount 401 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: Error response following JSON:API error format
      properties:
        source:
          type: object
          properties:
            info:
              type: string
              description: URL to the API documentation
        status:
          type: string
          description: HTTP status code
        title:
          type: string
          description: Short error title
        detail:
          type: string
          description: Human-readable error description
        code:
          type: string
          description: Machine-readable error code
    AccountResponse:
      type: object
      description: Account details response
      properties:
        data:
          $ref: '#/components/schemas/Account'
    Account:
      type: object
      description: A Learning Manager account
      properties:
        id:
          type: string
          description: Unique account identifier
        type:
          type: string
          const: account
        attributes:
          type: object
          properties:
            dateCreated:
              type: string
              format: date-time
              description: Account creation timestamp
            gamificationEnabled:
              type: boolean
              description: Whether gamification features are enabled
            locale:
              type: string
              description: Default locale for the account
            name:
              type: string
              description: Account name
            subdomain:
              type: string
              description: The Learning Manager subdomain
            timezone:
              type: string
              description: Default timezone for the account
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Adobe IMS. Supports authorization code flow for user-context access and client credentials flow for application-level access.
      flows:
        authorizationCode:
          authorizationUrl: https://learningmanager.adobe.com/oauth/o/authorize
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          refreshUrl: https://learningmanager.adobe.com/oauth/token/refresh
          scopes:
            learner:read: Read access to learner data
            learner:write: Write access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
        clientCredentials:
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          scopes:
            learner:read: Read access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
externalDocs:
  description: Adobe Learning Manager API v2 Documentation
  url: https://captivateprime.adobe.com/docs/primeapi/v2/
