openapi: 3.1.0
info:
  title: Adobe Captivate Prime API (Learning Manager) Account Certifications API
  description: The Adobe Learning Manager (formerly Captivate Prime) API v2 provides programmatic access to the Learning Management System for managing learning objects, courses, users, enrollments, certifications, skills, badges, gamification, catalogs, and user groups. The API follows the JSON:API specification and uses OAuth 2.0 for authentication. It enables integration with third-party systems for automating learner management, content delivery, and reporting.
  version: '2'
  contact:
    name: Adobe Learning Manager Support
    url: https://helpx.adobe.com/learning-manager/kb/helpdesk.html
  termsOfService: https://www.adobe.com/legal/terms.html
  license:
    name: Adobe Terms of Use
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://learningmanager.adobe.com/primeapi/v2
  description: Adobe Learning Manager Production API
security:
- oauth2: []
tags:
- name: Certifications
  description: Manage certification programs and compliance tracking
paths:
  /certifications:
    get:
      operationId: getCertifications
      summary: Adobe Captivate List Certifications
      description: Retrieves a paginated list of certifications. Certifications are recurring learning objects that verify a learner's knowledge or compliance on a regular basis.
      tags:
      - Certifications
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageLimit'
      - name: filter.state
        in: query
        description: Filter by certification state
        schema:
          type: string
          enum:
          - Active
          - Retired
      - name: include
        in: query
        description: Comma-separated list of related resources to include
        schema:
          type: string
      responses:
        '200':
          description: List of certifications
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CertificationListResponse'
              examples:
                getCertifications200Example:
                  summary: Default getCertifications 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - example
                    links:
                      self: https://example.com/path/abc123
                      next: https://example.com/path/abc123
                      prev: https://example.com/path/abc123
        '401':
          description: Unauthorized
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                getCertifications401Example:
                  summary: Default getCertifications 401 response
                  x-microcks-default: true
                  value:
                    source:
                      info: example
                    status: active
                    title: example
                    detail: example
                    code: example
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LocalizedMetadata:
      type: object
      description: Metadata for a learning object in a specific locale
      properties:
        description:
          type: string
          description: Description in the specified locale
        locale:
          type: string
          description: The locale code (e.g. en-US, fr-FR)
        name:
          type: string
          description: Name in the specified locale
        overview:
          type: string
          description: Overview or summary text
        richTextOverview:
          type: string
          description: Rich text (HTML) overview content
    Relationship:
      type: object
      description: A JSON:API relationship object
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/ResourceIdentifier'
          - type: array
            items:
              $ref: '#/components/schemas/ResourceIdentifier'
        links:
          type: object
          properties:
            related:
              type: string
              format: uri
              description: URL to fetch the related resource
    ErrorResponse:
      type: object
      description: Error response following JSON:API error format
      properties:
        source:
          type: object
          properties:
            info:
              type: string
              description: URL to the API documentation
        status:
          type: string
          description: HTTP status code
        title:
          type: string
          description: Short error title
        detail:
          type: string
          description: Human-readable error description
        code:
          type: string
          description: Machine-readable error code
    ResourceIdentifier:
      type: object
      description: JSON:API resource identifier
      required:
      - id
      - type
      properties:
        id:
          type: string
          description: Resource identifier
        type:
          type: string
          description: Resource type name
    CertificationListResponse:
      type: object
      description: Paginated list of certifications
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LearningObject'
        links:
          $ref: '#/components/schemas/PaginationLinks'
    LearningObject:
      type: object
      description: A learning object representing a course, learning program, certification, or job aid in the Learning Manager system
      properties:
        id:
          type: string
          description: Unique identifier for the learning object
        type:
          type: string
          description: JSON:API resource type
          const: learningObject
        attributes:
          type: object
          properties:
            authorNames:
              type: array
              description: Names of the content authors
              items:
                type: string
            dateCreated:
              type: string
              format: date-time
              description: Timestamp when the learning object was created
            datePublished:
              type: string
              format: date-time
              description: Timestamp when the learning object was published
            dateUpdated:
              type: string
              format: date-time
              description: Timestamp of the last update
            duration:
              type: integer
              description: Estimated duration to complete in seconds
            effectiveModifiedDate:
              type: string
              format: date-time
              description: Effective modification date
            enrollmentType:
              type: string
              description: How users can enroll in this learning object
              enum:
              - Self Enrolled
              - Manager Nominated
              - Admin Enrolled
            imageUrl:
              type: string
              format: uri
              description: URL of the learning object thumbnail image
            loFormat:
              type: string
              description: Content delivery format
              enum:
              - Self Paced
              - Blended
              - Classroom
              - Virtual Classroom
              - Activity
            loType:
              type: string
              description: Type of learning object
              enum:
              - course
              - learningProgram
              - certification
              - jobAid
            localizedMetadata:
              type: array
              description: Metadata in different locales
              items:
                $ref: '#/components/schemas/LocalizedMetadata'
            state:
              type: string
              description: Current state of the learning object
              enum:
              - Active
              - Retired
              - Published
              - Draft
            tags:
              type: array
              description: Tags associated with the learning object
              items:
                type: string
            unenrollmentAllowed:
              type: boolean
              description: Whether learners can self-unenroll
        relationships:
          type: object
          properties:
            instances:
              $ref: '#/components/schemas/Relationship'
            skills:
              $ref: '#/components/schemas/Relationship'
            prerequisiteLOs:
              $ref: '#/components/schemas/Relationship'
            subLOs:
              $ref: '#/components/schemas/Relationship'
            authors:
              $ref: '#/components/schemas/Relationship'
            catalog:
              $ref: '#/components/schemas/Relationship'
    PaginationLinks:
      type: object
      description: Pagination links following JSON:API conventions
      properties:
        self:
          type: string
          format: uri
          description: URL for the current page
        next:
          type: string
          format: uri
          description: URL for the next page
        prev:
          type: string
          format: uri
          description: URL for the previous page
  parameters:
    pageLimit:
      name: page[limit]
      in: query
      description: Maximum number of records to return per page (max 10)
      schema:
        type: integer
        default: 10
        maximum: 10
    pageOffset:
      name: page[offset]
      in: query
      description: The offset for pagination (number of records to skip)
      schema:
        type: integer
        default: 0
        minimum: 0
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication via Adobe IMS. Supports authorization code flow for user-context access and client credentials flow for application-level access.
      flows:
        authorizationCode:
          authorizationUrl: https://learningmanager.adobe.com/oauth/o/authorize
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          refreshUrl: https://learningmanager.adobe.com/oauth/token/refresh
          scopes:
            learner:read: Read access to learner data
            learner:write: Write access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
        clientCredentials:
          tokenUrl: https://learningmanager.adobe.com/oauth/token
          scopes:
            learner:read: Read access to learner data
            admin:read: Read access to admin data
            admin:write: Write access to admin data
externalDocs:
  description: Adobe Learning Manager API v2 Documentation
  url: https://captivateprime.adobe.com/docs/primeapi/v2/
